In [ ]:
"shiv kanaujiya"

# basics
- variables
- operators
- datatypes
- input/output

In [9]:
x = 3
a , b = 10, 11
c = a + b

In [16]:
l = 5
b = 10
area = l * b

In [20]:
a = 1000

In [18]:
a = "hello"

In [19]:
a = 1.2345

In [21]:
del area

operators
- assignment
- arithmatic
- comparison
- logical
- membership
- identity

In [23]:
# arithmatic + - * / % ** //
a = 10
b = 3

In [24]:
a+b

13

In [25]:
a-b

7

In [26]:
a/b

3.3333333333333335

In [27]:
a%b

1

In [28]:
a**b

1000

In [29]:
a//b

3

In [30]:
print(a // b) #integer divison
print(a % b) #remainder (modulo)
print(a ** b) #exponentiation

3
1
1000

In [6]:
# comparison < > >= <= == !=
x = 120
y = 290
print(x > y) #gt
print(x < y) #lt
print(x >= y) #gte
print(x <= y) #lte
print(x == 100) #equality
print(x != 100) #inequaity

False
True
False
True
False
True

In [7]:
# logic -> and or not
print(x > 10 and y > 50)
print(x > 10 and y < 50)
print(x > 10 or y < 50)
print(x < 10 or y < 50)
print(not x > 5) # invert the result
print(not x < 5)

True
False
True
False
False
True

In [35]:
# membership -> in, not in
x = [1,2,3,4,5,6,7]
print(5 in x)
print(10 in x)
print(3 not in x)
print(10 not in x)

True
False
False
True

In [3]:
# identity -> is, is not
a = [1,2,3,4]
b = a # copy the reference
c = [1,2,3,4]
print(a is b)
print(a is c)
print(b is c)

True
False
False

# datatypes
- int (integer)
- float (real number)
- bool (boolean)
- str (string or text)
- Nonetype (none)
- list 
- tuple
- set
- dict (dictonary)

In [5]:
num = 5 #integer
name = "shiv kanaujiya" # str
pi = 3.14159 #float
sleepy = True #bool
data = None #nonetype
a_list = [1,2,3,4,5] #list
a_tuple = (1,2,3,4,5) #tuple
a_set = {1,2,3,4,5} #set
a_dict = {1,2,3,4,5} #dict

displaying output and getting input

print()
print('Hello')
print('example string')
print('example','print()','with','multiple','arguments')
print('example','print()','with','multiple','arguments', sep='_')
print('example',print()',with','multiple','arguments', sep='')
print('example',print()',with','multiple','arguments', sep='')
print('C:)

In [2]:
fruits = ['apple', 'banana', 'cherry', 'tomato']
print(fruits)
print(*fruits, sep='\n') # hack to print list items in new lines

['apple', 'banana', 'cherry', 'tomato']
apple
banana
cherry
tomato

displaying content with variables

In [3]:
a, b, = 10, 20
c = a + b
# Result => 10 + 20 = 30
print('Result =>', a, '+', b, '=', c) # comma seprated 
print(f'Result => {a} + {b} = {c}') # f-string

Result => 10 + 20 = 30
Result => 10 + 20 = 30

In [5]:
x = int(input())
name = input("who are you?")
print(f"So you are, {name}, i have been expecting you")

ValueError: invalid literal for int() with base 10: ''

Simple Interest calculation
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

NameError: name 'p' is not defined

In [ ]:
p = int(input("Enter the principal amount")
r = int(input("Enter the Rate ofInterest"))
t = int(input(:Enter the Time in years:""))
si = p * r * t / 100
print("Simple Interest calculation")
print("_ _ _ "*10)
print(f'Principal => {p:20}')
print(f'Time(yrs) => {t:20}')
print("_ _ _"*10)
print(f'Simple interest will be =>')

alignment and formating

In [7]:
word = 'Journey'
print(word)
print(f"{word}")
print(f"{word:>15}") # right align
print(f"{word:15}") # center align
num = 1200.239012930213912
print(f"{num}")
print(f"{num:>15}")
print(f"{num:<15}")
print(f"{num:15.2f}")
print(f"{num:.3}")

Journey
Journey
        Journey
Journey
1200.239012930214
1200.239012930214
1200.239012930214
        1200.24
1.2e+03

# control flow
### condition
- if
- if else
- if elif ladder
- match case
- nested if

# loops
- for loop
- while loop

In [8]:
x = 10
if x >= 5:
print("ðŸ˜Ž very nice")

y = 2
if x > 5 and y < 5:
print("ðŸž no bug here")

name = "jenny"
if name:
print("Name exist")

IndentationError: expected an indented block after 'if' statement on line 2 (410441353.py, line 3)

In [2]:
a = 'asjdak'
if len(a):
    print("a is not empty")
else:
        print("a is empty")

a is not empty

if elif ladder

In [6]:
a = 5
b = 22
c = 10
if a > b and a > c:
    print("A is the greatest")
elif b > a and b > c:
    print("B is the greatest")
else:
    print("C is the greatest")

B is the greatest

In [27]:
marks = int(input("enter the marks:"))
if marks >= 90:
    grade = "A"
elif marks >= 75:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
else:
    grade = "F"
    print(f"Students marks = {marks}")
    print(f"Students grade = {grade}")

In [26]:
ans = input("what is the capital of India")
match ans:
    case 'Lucknow':
        print("You are too stupid")
    case 'Delhi':
        print("You are correct")
    case 'Culcutta':
        print("You must be under a stone")
    case 'Shimla':
        print("This is free India")
    case _:
        print("You are not from India")

You are correct

In [1]:
print("Chai ki dukaan")
print("1. Chai 10 Rs")
print("2. Bun Makkhan 30 Rs")
print("3. Cutting 5 Rs")
print("4. Samosa 10 Rs")
choice = int(input("Enter the your choice:"))
  match choice:
        case 1:
            print("You have selected chai")
        case 2:
            print("You have selected Bun Makkhan")
        case 3:
            print("You have selected Cutting")
        case 4:
            print("You have selected samosa")
        case _:
            print("Invalid choice")

IndentationError: unexpected indent (1498347187.py, line 7)

## loops
- step based loop (for loop)
- condition based loop (while loop)

In [2]:
numbers =[11,22,33,54,25,26]
for i in numbers:
    print(i)

11
22
33
54
25
26

In [4]:
brands=['sony','apple','lenovo','samsung']
for name in brands:
    print(name)

sony
apple
lenovo
samsung

ierabel
- list
- str
- tuple
- set
- dict
- range
- generator

In [6]:
word = 'Journey'
for ch in word:
    print(ch)

J
o
u
r
n
e
y

In [7]:
for i in {12,52,23,34,55}:
    print(i)

34
12
52
23
55

range function for the loop
range(stop) - 0 to stop-1
range(start, stop) -start to stop-1
range(start, stop,step) -start to stop-1 with step

In [14]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for i in range(5, 11):
    print(i, end=' ')

5 6 7 8 9 10

In [12]:
for i in range(5, 15, 2):
    print(i, end=' ')

5 7 9 11 13

In [13]:
# reverse loop
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [16]:
for i in range(-5, 6):
    print(i, end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [20]:
# sum of all number from 1 - 100
total = 0
for i in range(1, 101):
    total += i
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [21]:
sum(list(range(1,100)))

4950

In [24]:
# find the largest word in the list
words = ['ben','satyam','maniratnam','roy','soham']
word = ''
for item in words:
    if len(item) > len(word):
        print(f' {word}={len(word)} and {item}={len(item)}')
        if len(item) > len(word):
            word = item
            print(f'keeping {item} into word')
            print(word)

 =0 and ben=3
keeping ben into word
ben
 ben=3 and satyam=6
keeping satyam into word
satyam
 satyam=6 and maniratnam=10
keeping maniratnam into word
maniratnam

break and continue

In [28]:
for i in range(10):
    if i == 5:
        break
    print(i, end=' ')
    print("The end")

0 The end
1 The end
2 The end
3 The end
4 The end

In [29]:
data = [1,2,3,4,0,5,6,2,3]
for i in data:
    if i == 0:
        print("We found some crap")
        break # skip the loop
    print(i)

1
2
3
4
We found some crap

In [30]:
data = [1,2,3,4,0,5,6,2,3]
for i in data:
    if i == 0:
        continue # skip to next item
    print(i**2)

1
4
9
16
25
36
4
9

enumerate(), zip()

In [31]:
fruits =['apple','banana','mango','orange','kiwi']
for idx,name in enumerate(fruits):
    print(idx, name)

0 apple
1 banana
2 mango
3 orange
4 kiwi

In [32]:
numbers =[23,56,67,12,56]
for idx, num in enumerate(numbers):
    print(num*idx)

0
56
134
36
224

In [33]:
x = [1,2,3,4,5]
y = [11,22,33,44,55]
for i,j in zip(x,y):
    print(i + j)

12
24
36
48
60

In [34]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9,10]
for i, j, k in zip(x, y, z):
    print(i + j)

5
7
9

In [35]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9,10]
w = 'jello'
for i, j, k, l in zip(x, y, z, w):
    print(i + j + k, l)

12 j
15 e
18 l

In [40]:
# count the number of vowels in a sentence
sentence = "This is a very good day"
count = 0
for ch in sentenence:
     if ch in 'aeiouAEIOU':
        count += 1
print(count)

NameError: name 'sentenence' is not defined